{{ ansible_managed | comment }}
<VirtualHost *:80>
       ServerName {{ apache_vhost_domain }}
        ServerAlias www.{{ apache_vhost_domain }}
        ServerAlias 100.0.0.100
        DocumentRoot /var/www/html/{{ apache_vhost_domain }}/
        CustomLog 		/var/log/httpd/{{ apache_vhost_domain }}_access.log combined
        ErrorLog        /var/log/httpd/{{ apache_vhost_domain }}_error.log
        <Directory />
                Options none
                Allowoverride none
                Require all denied
        </Directory>

        <Directory /var/www/html/{{ apache_vhost_domain }}>
                Require all granted
        </Directory>
</VirtualHost>
