{{ var }}

{{ var | default( 5 ) }}

{{ myvar | ipaddr }}

{{ 'passwordsaresecret' | password_hash('sha512') }}

{{ 'ansible' | regex_search('(foobar)') }}

{{ 'localhost:80' | regex_replace(':80') }}

{{ path | basename }}

{{ path | dirname }}

{{ '%Y-%m-%d' | strftime }}

"{{ 59 | random }} * * * * root /script/from/cron"